/** @format */

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    background-color: antiquewhite;
    width: 40%;
    padding: 1rem;
    margin: auto;
    border-radius: 5%;
}

.form {
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}
.inputField {
    width: 100% !important;
    margin: auto;
}
.btn {
    margin-top: 3rem;
}
h3 {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}
