/** @format */

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
}

.form {
    justify-content: center;
    align-content: center;
    width: 30%;
}

.btn {
    margin-top: 3rem;
}
