/** @format */

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    background-color: antiquewhite;
    width: 40%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5%;
}

.form {
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}
.inputField {
    width: 100% !important;
    margin: auto;
}
.btn {
    margin-top: 3rem;
}
h3 {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem;
}

h4 {
    text-align: center;
    font-size: 1.3rem;
}
.contactData {
    color: black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
#comprador {
    margin: 0;
    color: antiquewhite;
}
#title {
    margin: 0.5rem 0;
    color: black;
}
.items {
    color: black;
}
h5 {
    text-align: center;
}
h4 {
    text-align: center;
    color: antiquewhite;
}

@media screen and (min-width: 280px) {
    .container {
        width: 100vw;
    }
}
@media screen and (min-width: 360px) {
    .container {
        width: 95vw;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 60vw;
    }
}
@media screen and (min-width: 912px) {
    .container {
        width: 50vw;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        width: 40vw;
    }
}
