/** @format */

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.listContainer {
    margin: 0.5rem auto;
    width: 65%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.itemBtn {
    justify-self: end;
    margin-left: 1rem;
}
h5 {
    margin-right: 2.5rem;
}

.itemContainer {
    margin: 2px auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(197, 188, 188);
    font-size: 1.3rem;
}
h4 {
    color: black;
}
@media screen and (min-width: 280px) {
    .itemContainer {
        width: 100vw;
        margin: auto;
    }
}
@media screen and (min-width: 360px) {
    .itemContainer {
        width: 100vw;
        margin: auto;
    }
}
@media screen and (min-width: 768px) {
    .itemContainer {
        width: 90vw;
        margin: auto;
    }
}
@media screen and (min-width: 912px) {
    .itemContainer {
        width: 85vw;
        margin: auto;
    }
}
@media screen and (min-width: 1280px) {
    .itemContainer {
        width: 80vw;
    }
}
