/** @format */

h1 {
    margin: 2rem;
    text-align: center;
    color: white;
}

.skeletonContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 2rem;
}
