/** @format */

.grid-container {
    height: 80%;
    margin: auto;
    width: 65vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2.5fr;
    gap: 5px;
    align-items: center;
}
.addToCart {
    margin-right: 2rem;
}
img {
    width: 100%;
}
h1 {
    margin: 5px 0;
    padding: 0;
}
h2 {
    text-align: center;
    margin: 1rem 0;
    color: white;
}
.detail {
    height: 65vh;
    padding: 0 1rem;
    color: white;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    overflow: auto;
}
